<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>注册</title>
    <link rel="stylesheet" href="../assets/libs/particles/css/style.css">
    <link rel="stylesheet" href="../assets/libs/sweetalert2/sweetalert2.min.css">
    <link rel="stylesheet" href="../assets/css/base.css">
    <link rel="stylesheet" href="../assets/css/login.css">
    <script src="../layui/layui.js"></script>
    <link rel="stylesheet" href="../layui/css/layui.css"/>
    <style>
        #bon {
            position: absolute;
            left: 210px;
            top: 10px;

        }
    </style>
</head>
<body>
<!-- particles.js container -->
<div id="particles-js"></div>
<div id="wrapper">
    <div>
    </div>
    <nav class="switch_nav">
        <a href="javascript:;" id="switch_signup" class="switch_btn on">注册</a>
        <a href="login.html" id="switch_login" class="switch_btn">登陆</a>
        <div class="switch_bottom" id="switch_bottom"></div>
    </nav>
    <form method="post" action="">
        <ul class="group_input">
            <li>
                <input type="text" placeholder="手机号(仅支持中国大陆)" class="mobile required" id="mobile"/>
            </li>
            <li>
                <input type="text" class="mobile required" id="ident" name="note" placeholder="请输入验证码"/>
                <button type="button" id="bon" class="layui-btn layui-btn-normal layui-btn layui-btn-sm">发送验证码
                </button>
            </li>
            <li>
                <input type="password" placeholder="请输入密码" class="psd required" name="password" id="psd"/>
            </li>
            <li>
                <input type="password" placeholder="请再次确认密码" class="psd required" name="buypassword" id="psd2"/>
            </li>
        </ul>
    </form>
    <button class="submit_btn" id="btnSubmit">注册</button>
    <span class="agreement-tip">点击「注册」按钮，即代表你同意<a href="javascript:;">《飞鸽协议》</a></span>
    <div class="QRcode_btn">
    </div>


    <div id="footer">
        <span>·</span><a
            href="javascript:;">京ICP证110745号</a><span>·</span><span>京公网安备11010802010035号</span><span>·</span><a
            href="javascript:;">出版物经营许可证</a>
    </div>
</div>
<script src="../assets/libs/jquery-1.12.4/jquery.min.js"></script>
<script src="../assets/libs/sweetalert2/sweetalert2.min.js"></script>
<script src="../assets/libs/particles/particles.min.js"></script>
<script src="md5/md5-min.js"></script>
<!--<script src="../assets/libs/particles/js/app.js"></script>-->
<!-- <script src="../assets/libs/particles/js/lib/stats.js"></script> -->

<script>
    layui.use('layer', function () {
        //发送验证码
        $("#bon").click(function () {
            //判断当前是否输入正确的电话号码
            var regMobile = /^1[3|4|5|7|8][0-9]{9}$/;
            if (!regMobile.test($("#mobile").val())) {
                layer.msg("请输入正确手机号码！");
            } else {
                //电话填全，点击发送短信按钮直接将信息发送到你填写的指定电话
                sendNote($("#mobile").val());
                //执行倒计时
                settime(this)
            }
        })

        //发送短信
        function sendNote(phone) {
            $.post("/sendNote", {"phone": phone}, function (rs) {
                if (rs.code == "20000") {
                    layer.msg(rs.msg);
                } else {
                    layer.msg("异常！");
                }
            })
        }

        //验证码发送倒计时控制点击
        var countdown = 60;
        function settime(isButton) {
            if (countdown == 0) {
                isButton.removeAttribute("disabled");
                $("#bon").html("发送验证码");
                countdown = 60;
                return
            } else {
                isButton.setAttribute("disabled","disabled");
                $("#bon").html("重新发送(" + countdown + ")");
                countdown--;
            }
            //在1秒后执行settime()方法
            setTimeout(function () {
                settime(isButton)
            }, 1000)
        }

        $("#btnSubmit").click(function () {
            $("form .required:input").trigger("blur");
            var numError = $("form .onError").length;
            if (numError) {
                return false;
            }
            //trigger 事件执行完后，浏览器会为submit按钮获得焦点
            //将数据传输到后台，在后台判断验证码是否正确
            var phone = $("#mobile").val();
            var note = $("#ident").val();
            var pwd = hex_md5($("#psd").val()+"gty");
            $.post("/registerUserSetPhoneAndPwd",{"phone":phone,"note":note,"pwd":pwd},function (rs) {
                console.log(rs)
                if (rs.code == "20001"){
                    layer.msg(rs.msg)
                } else if(rs.code == "20000"){
                    layer.msg(rs.msg)
                }else{
                    layer.msg("异常")
                }
            })
        });
    })
</script>
<script>
    $(function () {
        //为表单元素添加失去焦点事件
        $("form :input").blur(function () {
            var $parent = $(this).parent();
            $parent.find(".msg").remove(); //删除以前的提醒元素（find()：查找匹配元素集中元素的所有匹配元素）
            //验证手机号
            if ($(this).is("#mobile")) {
                var mobileVal = $.trim(this.value);
                var regMobile = /^1[3|4|5|7|8][0-9]{9}$/;
                if (mobileVal == "" || !regMobile.test(mobileVal)) {
                    var errorMsg = " 请输入有效的11位手机号码！";
                    $parent.append("<span class='msg onError'>" + errorMsg + "</span>");
                } else {
                    var okMsg = " 输入正确";
                    $parent.append("<span class='msg onSuccess'>" + okMsg + "</span>");
                }
            }
            //验证码
            if ($(this).is("#ident")) {
                var psdVal = $.trim(this.value);
                if (psdVal == "") {
                    var errorMsg = " 请输入验证码！";
                    $parent.append("<span class='msg onError'>" + errorMsg + "</span>");
                }
            }
            //验证密码
            if ($(this).is("#psd")) {
                var psdVal = $.trim(this.value);
                var regPsd = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,20}$/;
                if (psdVal == "" || !regPsd.test(psdVal)) {
                    var errorMsg = " 密码为6-20位字母、数字的组合！";
                    $parent.append("<span class='msg onError'>" + errorMsg + "</span>");
                } else {
                    var okMsg = " 输入正确";
                    $parent.append("<span class='msg onSuccess'>" + okMsg + "</span>");
                }
            }
            //验证2次密码
            if ($(this).is("#psd2")) {
                var psdVal = $.trim(this.value);
                var regPsd = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,20}$/;
                if (psdVal == "" || !regPsd.test(psdVal)) {
                    var errorMsg = " 密码为6-20位字母、数字的组合！";
                    $parent.append("<span class='msg onError'>" + errorMsg + "</span>");
                } else if ($("#psd").val() != psdVal) {
                    var errorMsg = " 密码不一致！";
                    $parent.append("<span class='msg onError'>" + errorMsg + "</span>");
                } else {
                    var okMsg = " 输入正确";
                    $parent.append("<span class='msg onSuccess'>" + okMsg + "</span>");
                }
            }
        }).keyup(function () {
            //triggerHandler 防止事件执行完后，浏览器自动为标签获得焦点
            $(this).triggerHandler("blur");
        }).focus(function () {
            $(this).triggerHandler("blur");
        });
    })

</script>
</body>
</html>
